*{
 margin: 0;
 padding: 0;
}
a{
    text-decoration: none;
    color: white;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    
}
#main-text{
    font-size: 20px;
    color: white;
    line-height: 1.5em;
}
#laptop{
    float: left;
}
#footer-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#price-block{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 40px;
}
#price-block-menu{
    position: absolute;
}
#price-block-table{
    margin: 0 auto;
}
#footer-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

hr {
    border: none;
    height: 5px;
    /* Set the hr color */
    color: #333;  /* old IE */
    background-color: #333;  /* Modern Browsers */
  }

  #footer-item > img{
    margin-right: 5px;
    width: 20px;
    height: 20px;
  }
